* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #EFEFEF;
}

body.dragging-mode {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

#pinboard {
    min-height: 100%;
    height: auto !important;
    heught: 100%;
    overflow: hidden !important;
}

.toolbar-container {
    background-color: rgba(66, 66, 66, 0.7);
    padding: 0.5em;
}

.toolbar {
    list-style: none;
}

.toolbar a {
    color: black;
}

.toolbar > li {
    float: left;
    padding: 0.3em 0.2em;
}

.toolbar > li:not(:last-of-type) {
    margin-right: 1em;
}

.toolbar:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}

#pinboard section {
    border: 1px solid #FFFFFF;
    border-radius: 0.3em;
    box-shadow: 0em 0em 1em #666;
    width: 200px;
    height: 120px;
    position: absolute;
}

.note .header {
    width: 100%;
    height: 23px;
    background-color: #C2C2C2;
    cursor: move;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.note .content {
    position: absolute;
    top: 23px; /* height of header */
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.3em;
    overflow: auto;
    outline: none;
    background-color: #FFFFFF;
}

.btn-close {
    float: right;
    background-color: inherit;
    border: none;
    padding: 0.2em;
    cursor: pointer;
    color: #AAAAAA;
    text-shadow: 0 0 0.2em #EEEEEE;
    text-transform: uppercase;
    font-weight: bold;
}
